<head>
    <title>About | R8D</title>
</head>
{% include 'base.html' %}
{% block content %}
<style>
  body {background-color: #1E2023;}

  p, ul, a {color: white;}
</style>
<div class="container" style="padding-top:30px;">
  <div class="row">
    <div class="col-12">
      <h1 style="color:white;">About</h1>
      <p>
        Have you shopped online and wondered whether you're getting your money's
        worth? Or whether something was a scam? This website is not limited to
        just shopping online, but any service that you can rate. There have been
        times I wanted to try something new, but after looking at the reviews
        and ratings, I often think to myself: is it better for me to risk buying/
        using this or should I keep my money?
      </p>
      <p>
        If this happens to you, this website can help you with this. All you need
        to do is provide this site with the average rating given to a prodct/service
        and the number of people that left a rating, and we will calculate whether
        buying this would be a good idea.
      </p>
      <p>
        Some good pointers to determine whether something is worth your money is
        listed below:
        <ul>
          <li>
            <b>The number of ratings and views.</b> (A product with a high
            rating with a low number of comments (e.g. 5 written reviews) is
            highly likely going to be a disappointment)
          </li>
          <li>
            <b>A product without a 1-star review</b> is most likely a scam or
            (again) a disappointment. If you want this product, try and see if
            you can get something like this elsewhere and revaluate.
          </li>
          <li>
            <b>The average rating is below 4.4 stars.</b> (This product/service
            could be good, but there are some annoyances you will encounter when
            using it).
          </li>
          <li>
            <b>Extreme contradictory reviews.</b> (Reviews that favour the
            product/service (i.e. 5-star ratings describing an excellent
            experience) and reviews that are highly against it could indicate
            that the provider is trying to bump up its rating; this is
            disingenuous, and the product/service should be left alone).
          </li>
        </ul>
      </p>
      <p>
        r8d.uk calculates a score for this product by examining the ratio of
        the ratings to the number of reviews. For this product/service to be a
        good choice, at least 80% of the ratings must be 4 or 5 stars. But don't
        worry about the math as we'll do it for you.
      </p>
      <p>
        Find me on the platforms listed below:
        <ul>
          <li>LinkedIn: <a target='_blank' href='https://linkedin.com/in/nathanlutala'>Nathan Lutala</a></li>
          <li>GitHub: <a target='_blank' href='https://github.com/nlutala'>nlutala (Nathan Lutala)</a></li>
        </ul>
      </p>
    </div>
  </div>
</div>
{% endblock %}
